body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

.content{
  width: 80%;
  box-shadow: 0 0 1em silver;
  padding: 2.5%;
  display: flex;
  margin: 5% auto;
}

.spalte1{
  width: 50%;
  padding: 3%;
}

.spalte2{
  width: 50%;
  background-color: rgb(129, 66, 238);
  padding: 3%;
}

.heading {
  font-size: 2.5rem;
  font-weight: 900; 
}

.img-fluid{
  max-width: 100%;
  height: auto;
}

input{
  margin: 2%;
  outline: none;
}

input[type=text]{
  width: 100%;
  padding: 1%;
}

textarea{
  padding: 1%;
  width: 100%;
  outline: none;
  resize: none;
}

input[type=submit]{
  color: white;
  background-color: black;
  transition-duration: 0.5s;
  font-weight: 700;
  border-radius: 5px;
  padding: 1%;
}

input[type=submit]:hover{
  color: rgb(129, 66, 238);
}

@media only screen and (max-width: 700px) {
  .content{
    flex-direction: column;
  }
}